-*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

a{
    display: inline-block;
    text-decoration: none;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img{
    display: block;
}

.container{
    max-width: 1170px;
    padding: 0;
    margin: 0 auto;
}


.title{
    padding: 30px 0 0 53px;
    position: relative;
    margin-bottom: 54px;
}

.title img{
    position: absolute;
    top: 0;
    left: 0;
}

.title h2{
    color: #666666;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    line-height: 34px;
}

.title h1{
    color: #d50a51;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    line-height: 20px;
}

.first_p{
    margin-bottom: 26px;
}

.my_btn{
background: linear-gradient(338deg, rgba(226,3,128,1) 25%, rgba(189,4,76,1) 75%);
color: #ffffff;
    padding: 15px 17px;
    border: 1px solid #d50a51;
    border-radius: 45px;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    line-height: 24px;
    transition: .4s;
    margin-right: 20px;
}

.my_btn:hover{
    background: #d50a51;
    color: #ffffff;
}



/* ============== nav bar start ================ */



.navbar{
    padding: 0;
    position: absolute;
    width: 100%;
    top: 30px;
}
.navbar .navbar-nav{
    column-gap: 26px;
}

.navbar .navbar-nav .nav-item .nav-link{
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: #000;
    position: relative;
    padding: 0;
    transition: .4s;
}

.navbar .navbar-nav .nav-item .nav-link:hover{
    color: #d50a51;
}

.navbar .navbar-nav .nav-item .nav-link img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(5px);
    top: 100%;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}

.navbar .navbar-nav .nav-item .nav-link:hover img{
    opacity: 1;
    visibility: visible;
}

.navbar .navbar-nav .nav-item .active{
    color: #d50a51;
}

.navbar .navbar-nav .nav-item .active img{
    opacity: 1;
    visibility: visible;
}

.navbar form .login_btn{
    padding: 15px 20px;
    background: #d50a51;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    outline: 0;
    border-radius: 50px;
}
.navbar form .login_btn img{
    display: inline-block;
    margin-right: 10px;
    
}

/* ============== nav bar end ================ */
