*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

a{
    display: inline-block;
    text-decoration: none;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img{
    display: block;
}

.container{
    max-width: 1170px;
    padding: 0;
    margin: 0 auto;
}


.title{
    padding: 30px 0 0 53px;
    position: relative;
    margin-bottom: 54px;
}

.title img{
    position: absolute;
    top: 0;
    left: 0;
}

.title h2{
    color: #666666;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    line-height: 34px;
}

.title h1{
    color: #d50a51;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    line-height: 20px;
}

.first_p{
    margin-bottom: 26px;
}

.my_btn{
background: linear-gradient(338deg, rgba(226,3,128,1) 25%, rgba(189,4,76,1) 75%);
color: #ffffff;
    padding: 15px 17px;
    border: 1px solid #d50a51;
    border-radius: 45px;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    line-height: 24px;
    transition: .4s;
    margin-right: 20px;
}

.my_btn:hover{
    background: #d50a51;
    color: #ffffff;
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.navbar{
    padding: 0;
    position: absolute;
    width: 100%;
    top: 30px;
}
.navbar .navbar-nav{
    column-gap: 26px;
}

.navbar .navbar-nav .nav-item .nav-link{
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: #000;
    position: relative;
    padding: 0;
    transition: .4s;
}

.navbar .navbar-nav .nav-item .nav-link:hover{
    color: #d50a51;
}

.navbar .navbar-nav .nav-item .nav-link img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(5px);
    top: 100%;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}

.navbar .navbar-nav .nav-item .nav-link:hover img{
    opacity: 1;
    visibility: visible;
}

.navbar .navbar-nav .nav-item .active{
    color: #d50a51;
}

.navbar .navbar-nav .nav-item .active img{
    opacity: 1;
    visibility: visible;
}

.navbar form .login_btn{
    padding: 15px 20px;
    background: #d50a51;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    outline: 0;
    border-radius: 50px;
}
.navbar form .login_btn img{
    display: inline-block;
    margin-right: 10px;
    
}

/* ============== nav bar end ================ */

/* ================ banner part start ============= */

#banner_part{
    background: url(../images/banner_bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 133px 0 0;
}
#banner_part img{
    margin-left: -46px;
    width: 100%;
}

#banner_part .container .banner_details{
    text-align: center;
    padding: 146px 0 145px 0;
}

#banner_part .container  h1{
    color: #8a5e3b;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 61px;
    line-height: 54px;
    text-transform: uppercase;
}

#banner_part .container  h2{
    color: #d50a51;
    font-weight: 400;
    font-family: 'Great Vibes', cursive;
    font-size: 84px;
    line-height: 54px;
    margin-top: -5px;
}

#banner_part .container p{
    color: #444444;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    margin-top: 27px;
    margin-bottom: 60px;
}

/* ============== Banner part end ================ */
/* ================ History part start ============= */

#history_part {
    padding-top: 100px;
    padding-bottom: 92px;
}

#history_part .container p{
    color: #444444;
    width: 570px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    word-spacing: 0;
}

/* ============== History part end ================ */

/* ================ gift part start ============= */

#gift_part {
    background: url(../images/gift_bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 60px 0;
}

#gift_part .text{
    padding-left: 100px;
}

#gift_part .text p{
    color: #444444;
    width: 570px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    word-spacing: 0;
}

#gift_part .text .my_btn{
    margin-top: 30px;
}

#gift_part .gift_image{
    position: relative;
    height: 100%;
}

#gift_part .gift_image img{
    position: absolute;
    top: -225px;
    left: -154px;
}

/* ================ gift part end ============= */

/* ================ ticket part start ============= */

#ticket_part{
    padding: 123px 0 160px;
}

#ticket_part .ticket_image img{
    margin-left: -85px;
    width: 100%;
}

#ticket_part .title{
    text-align: right;
    padding-right: 55px !important;
}

#ticket_part .title img{
    left: 100%;
    transform: translateX(-100%);
}

#ticket_part .text{
    text-align: right;
}

#ticket_part .text p{
    color: #444444;
    width: 570px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    word-spacing: 0;
}

#ticket_part .text .my_btn{
    margin-top: 30px;
    margin-right: 0;
    margin-left: 30px;
}

/* ================ ticket part end ============= */

/* ================ offer part start ============= */

#offer_part{
    background: url(../images/offer_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0 30px;
}

#offer_part .container .row .col-lg-4:nth-child(2) .music:first-child{
    margin-bottom: 30px;
}

#offer_part .container .row .col-lg-4:nth-child(3) .music:first-child{
    margin-bottom: 30px;
}

#offer_part .music{
    padding: 30px 34px 30px 30px;
    background: transparent;
    border-right: 3px solid transparent;
    transition: all linear .4s;
}

#offer_part .music:hover{
    background: #f1f1f1;
    border-right-color: #d50a51;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.35);
-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.35);
-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.35);
}

#offer_part .music .image{
    display: flex;
    align-items: flex-end;
    column-gap: 21px ;
    margin-bottom: 15px;
}

#offer_part .music h4{
    color: #d50a51;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    line-height: 24px;
}

#offer_part p{
    color: #444444;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
}

/* ================ offer part end ============= */

